@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.App{
  width: 100%;
  overflow-x: hidden;
}
.header{
  display: flex;
  justify-content: space-around;
  background-color: rgb(17,24,39);
  color:white;
  padding:5px 20px;
  align-items: center;
  position: fixed;
  top:0;
  width: 100%;
}
.header-logo-name{
  font-size: 24px;
  font-weight: 500;
  margin:10px;
}
.header-logo{
  display: flex;
  align-items: center;
}

.header-links ul{
  display: flex;
  list-style: none;
  
}
.header-links li{
  margin:10px 20px;
  font-weight: 500;
}

.Button{
   padding:10px 20px;
   height: min-content;
   border-radius: 5px;
   border: none;
   font-weight: 500;
   margin:10px;
}
.svg-logo-container{
  display: flex;
  justify-content: center;
  margin:10px;
}
.svg-logo{
  height:40px;
  width: min-content;
  color:#0D9488;
}
.footer{
  padding:30px;
  background-color: #F3F4F6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer ul{
  display: flex;
  list-style: none;
  cursor: pointer;
}
.footer ul li{
  margin:15px;
  color:rgb(90, 90, 90);
}
.footer ul li:hover{
  color:rgb(180, 180, 180);
}
.footer p{
  color:rgb(180, 180, 180);
}
.menu{
  display: none;
}
.quote-container{
  margin:3rem;
  padding:30px;
  Color:white;
  background-color: rgb(31,41,55);
  border-radius: 10px;
  text-align: center;
  

}
.section{
  padding:20px;
  margin-top:50px;
}
.author{
   color:grey;
   margin:10px;
   font-size: 18px;
}
@media (max-width:500px) {
   .header-links{
    display: none;
   }
   
   .header{
    justify-content: space-between;
    flex-wrap: wrap;
   }
   .menu{
    display: inline-block;
   }
   .section{
    margin-top: 100px;
    padding: 10px;
   }
   .quote-container{
    font-size: 14px;
    margin:1.5rem;
    padding: 14px;
   }
}